:root {
  --clr-primary-accent: rgb(103, 33, 216);
  --clr-primary-dark: rgb(59, 19, 122);
  --clr-primary-light: #a29dff;
  --clr-grey-1: rgb(20, 20, 20);
  --clr-grey-2: rgb(30, 30, 30);
  --clr-grey-5: rgb(88, 88, 88);
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-white-2: #e2e2e2;
  --clr-white-06: rgba(255, 255, 255, 0.6);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);

  /* Dark theme colors */
  --clr-background-dark: rgb(20, 20, 20);
  --primary-dark: rgba(20, 20, 20, 0.6);
  --border-dark: rgba(73, 73, 73, 0.1);
  --primary-dark-contrast: rgba(255, 255, 255, 0.6);
  --secondary-dark-contrast: rgba(255, 255, 255, 0.1);
  --grd-dark: linear-gradient(0deg, rgb(70, 26, 43) 0%, rgb(21, 14, 56) 100%);

  /* Light theme colors */
  --clr-background-light: #e6e6e6;
  --primary-light: rgba(255, 255, 255, 0.6);
  --secondary-light: rgba(255, 255, 255, 0.2);
  --border-light: rgba(255, 255, 255, 0.1);
  --primary-light-contrast: rgba(0, 0, 0, 0.8);
  --secondary-light-contrast: rgba(0, 0, 0, 0.1);
  --grd-light: linear-gradient(
    180deg,
    rgb(230, 226, 226) 0%,
    rgb(224, 205, 228) 100%
  );

  /* Other common variables */
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 1rem;
}

.light {
  --clr-background: var(--clr-background-light);
  --clr-primary: var(--primary-light);
  --clr-secondary: var(--secondary-light);
  --clr-border: var(--border-light);
  --clr-contrast: var(--primary-light-contrast);
  --clr-secondary-contrast: var(--secondary-light-contrast);
  --clr-accent: var(--clr-primary-dark);
  --clr-grad: var(--grd-light);
}

.dark {
  --clr-background: var(--clr-background-dark);
  --clr-primary: var(--primary-dark);
  --clr-border: var(--border-dark);
  --clr-contrast: var(--primary-dark-contrast);
  --clr-secondary-contrast: var(--secondary-dark-contrast);
  --clr-accent: var(--clr-primary-light);
  --clr-grad: var(--grd-dark);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  background: var(--clr-grad);
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0.5em;
  z-index: 4;
  position: absolute;
  left: 0;
  height: 100%;
}

.nav-buttons {
  height: 4rem;
  width: 4rem;
  margin: 0.4em 0;
  background: none;
  border: none;
  border-radius: 40%;
  font-size: 2em;
  color: var(--clr-contrast);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-buttons:hover {
  color: var(--clr-accent);
  filter: brightness(200%);
  filter: drop-shadow(0 0px 20px rgba(128, 63, 233, 1));
}

.nav-buttons:focus {
  background: rgb(128, 63, 233, 0.3);
  box-shadow: 0 0px 3px rgba(128, 63, 233, 0.3);
}

.journal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 82px;
  width: 100%;
  overflow: auto;
  max-height: 100vh;
}

.journal::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  mask: linear-gradient(0deg, black, black, transparent);
  backdrop-filter: blur(8px);
  z-index: 3;
}

.journal-container h1 {
  color: var(--clr-contrast);
  font-size: 2em;
}

.no-pages {
  justify-content: center;
}

.no-pages h1 {
  text-align: center;
}

.pages-container {
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: masonry;
}

.card {
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: clamp(350px, 70vw, 600px);
  margin: 0.5em 0;
  border-radius: 1em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: var(--clr-primary);
  backdrop-filter: blur(30px);
  border: 1px solid var(--clr-border);
  position: relative;
  z-index: 1;
  transition: filter 0.2s ease-in-out;
}

.content {
  white-space: pre-line;
}

.card .content {
  margin: 1em;
  color: var(--clr-contrast);
  overflow: hidden;
}

.content p {
  text-justify: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.expandCard {
  -webkit-line-clamp: 5;
}

.card .date {
  height: 35px;
  width: auto;
  border-top: solid 1px var(--clr-secondary-contrast);
  color: var(--clr-contrast);
  margin: 0 0.5em;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

.container-card {
  display: flex;
  justify-content: center;
  position: relative;
}

.card:hover {
  filter: contrast(100%) brightness(110%);
  cursor: pointer;
}

.date {
  display: flex;
  align-items: center;
  color: var(--clr-contrast);
  justify-content: space-between;
  padding: 0 1em;
  overflow: hidden;
}

.date button {
  background: none;
  border: none;
  height: auto;
  color: var(--clr-white-06);
  font-size: 2.5em;
  cursor: pointer;
  padding-bottom: 6px;
}

.button-section button {
  color: var(--clr-contrast);
  z-index: 3;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-primary);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal-container.open {
  opacity: 1;
}
.modal {
  background: var(--clr-primary);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(30px);
  border: 1px solid var(--clr-border);
  height: 96%;
  width: 100%;
  max-width: 900px;
  border-radius: var(--radius);
  padding: 1.1rem 1rem;
  bottom: -130%;
  opacity: 1;
  transform: translateY(100%);
}

.modal.open {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.modal h1 {
  color: var(--clr-contrast);
  width: 35%;
  font-size: clamp(1em, calc(1vw + 1em), 2em);
}

.modal textarea {
  background: none;
  width: 100%;
  height: 100%;
  color: var(--clr-contrast);
  outline: none;
  border: none;
  font-size: 1.4em;
  resize: none;
}

.modal .top-section {
  display: flex;
  color: var(--clr-contrast);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.top-section button {
  background: none;
  border: none;
  width: 35%;
  display: flex;
  justify-content: end;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--clr-primary-accent);
  cursor: pointer;
}

.drop-down-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 4em;
  right: 0;
  margin: var(--spacing);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(40px);
  border: 1px solid var(--clr-secondary-contrast);
  list-style: none;
  width: 25em;
  height: 12em;
  border-radius: 0.8em;
  z-index: 2;
  font-size: 0.6em;
  overflow: hidden;
}

.drop-down-menu button {
  background: none;
  border: none;
  font-size: 1.8em;
  height: 100%;
  color: var(--clr-contrast);
  text-align: start;
  padding: 0 0.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drop-menu-hidden {
  display: none;
}

.drop-down-menu > :nth-child(1) {
  border-bottom: solid 0.5px var(--clr-secondary-contrast);
}

.drop-down-menu > :nth-child(2) {
  border-bottom: solid 0.4em var(--clr-secondary-contrast);
}

.drop-down-menu > :nth-child(3) {
  color: rgb(247, 23, 23);
}

.button-section:hover {
  color: black;
}

.button-section button {
  justify-content: end;
}
.button-section button:hover {
  filter: brightness(200%);
}
.button-section button:active {
  color: var(--clr-contrast);
  filter: blur(0.6px);
}
.drop-down-menu button:hover {
  background: rgba(126, 126, 126, 0.1);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    margin: 0;
  }
  .journal::after {
    display: none;
  }

  .nav-bar {
    mask: linear-gradient(0deg, black, rgba(0, 0, 0, 1), transparent);
    backdrop-filter: blur(8px);
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    height: 120px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
    padding: 0;
  }
  .journal {
    margin: 0;
    height: 100%;
    border-radius: 0;
    position: relative;
  }
}

@media screen and (min-width: 900px) {
  .pages-container {
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  .journal-container {
    padding: 0 1em 0 1em;
    width: 100%;
  }
  .container-card {
    height: 100%;
  }
  .card {
    width: clamp(300px, 100%, 100%);
    margin: 0;
  }
}

/* @media screen and (min-width: 1100px) {
  .pages-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1700px) {
  .pages-container {
    grid-template-columns: repeat(4, 1fr);
  }
} */
