:root {
  --clr-primary-accent: rgb(103, 33, 216);
  --clr-primary-dark: rgb(59, 19, 122);
  --clr-primary-light: #a29dff;
  --clr-grey-1: rgb(20, 20, 20);
  --clr-grey-2: rgb(30, 30, 30);
  --clr-grey-5: rgb(88, 88, 88);
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-white-2: #e2e2e2;
  --clr-white-06: rgba(255, 255, 255, 0.6);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);

  /* Dark theme colors */
  --clr-background-dark: rgb(20, 20, 20);
  --primary-dark: rgba(85, 85, 85, 0.4);
  --primary-dark-transparent: rgba(85, 85, 85, 0.2);
  --border-dark: rgba(73, 73, 73, 0.1);
  --border-dark-select: rgba(255, 255, 255, 0.315);
  --primary-dark-contrast: rgba(255, 255, 255, 0.8);
  --secondary-dark-contrast: rgba(255, 255, 255, 0.1);
  --background-dark: rgba(22, 22, 22, 0.5);
  --grd-dark: linear-gradient(
    0deg,
    lab(35% 24 -31) 0%,
    lab(28% 17 -25) 20%,
    lab(3% 3 -8) 90%,
    lab(4% 1 -3) 100%
  );

  /* Light theme colors */
  --clr-background-light: #e6e6e6;
  --primary-light: rgba(255, 255, 255, 0.6);
  --primary-light-transparent: rgba(255, 255, 255, 0.6);
  --secondary-light: rgba(255, 255, 255, 0.2);
  --border-light: rgba(255, 255, 255, 0.1);
  --border-light-select: rgba(0, 0, 0, 0.24);
  --primary-light-contrast: rgba(0, 0, 0, 0.8);
  --secondary-light-contrast: rgba(0, 0, 0, 0.1);
  --grd-light: linear-gradient(180deg, lch(90% 2 10) 0%, lch(85% 10 310) 100%);
  --background-light: rgba(22, 22, 22, 0.5);

  /* Other common variables */
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 1rem;
}

.light {
  --clr-background: var(--clr-background-light);
  --clr-primary: var(--primary-light);
  --clr-primary-trans: var(--primary-light-transparent);
  --clr-secondary: var(--secondary-light);
  --clr-border: var(--border-light);
  --clr-border-select: var(--border-light-select);
  --clr-contrast: var(--primary-light-contrast);
  --clr-secondary-contrast: var(--secondary-light-contrast);
  --clr-accent: var(--clr-primary-dark);
  --clr-grad: var(--grd-light);
  --background-modal: var(--background-light);
}

.dark {
  --clr-background: var(--clr-background-dark);
  --clr-primary: var(--primary-dark);
  --clr-primary-trans: var(--primary-dark-transparent);
  --clr-border: var(--border-dark);
  --clr-border-select: var(--border-dark-select);
  --clr-contrast: var(--primary-dark-contrast);
  --clr-secondary-contrast: var(--secondary-dark-contrast);
  --clr-accent: var(--clr-primary-light);
  --clr-grad: var(--grd-dark);
  --background-modal: var(--background-dark);
}

.display-no {
  display: none;
}

.background {
  z-index: 1;
  color: var(--clr-contrast);
  background: var(--clr-grad);
}

.nav-buttons {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: opacity(70%);
  z-index: 1;
}

.nav-buttons:hover {
  filter: opacity(100%);
  /* filter: brightness(200%) drop-shadow(0 0px 20px rgba(128, 63, 233, 1)); */
}

.nav-buttons:focus {
  filter: opacity(100%);
}

.journal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 82px;
  width: 100%;
  overflow: auto;
  max-height: 100vh;
}

.journal::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  mask: linear-gradient(0deg, black, black, transparent);
  backdrop-filter: blur(8px);
  z-index: 3;
}

.no-pages {
  justify-content: center;
}

.no-pages h1 {
  text-align: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
  grid-template-rows: masonry;
  gap: 0.5rem;
}

.card {
  border-radius: 1rem;
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background: var(--clr-primary);
  backdrop-filter: blur(30px);
  border: 1px solid var(--clr-border);
  position: relative;
  z-index: 1;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform, box-shadow;
}

.content {
  display: flex;
  flex-direction: column;
}

textarea::placeholder {
  color: var(--clr-contrast) !important; /* Replace with your color */
  opacity: 0.6 !important;
}

.text-content {
  margin-top: 1em;
  white-space: pre-line;
  text-justify: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.expand-text {
  -webkit-line-clamp: none;
}

.card .content {
  margin: 1em;
  color: var(--clr-contrast);
  overflow: hidden;
}

.card .date {
  height: 35px;
  width: auto;
  border-top: solid 1px var(--clr-secondary-contrast);
  color: var(--clr-contrast);
  margin: 0 0.5em;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

.card:hover {
  outline: 1px solid var(--clr-border-select);
  cursor: pointer;
}

.date {
  display: flex;
  align-items: center;
  color: var(--clr-contrast);
  justify-content: space-between;
  padding: 0 1em;
  overflow: hidden;
}

.date button {
  background: none;
  border: none;
  height: auto;
  color: var(--clr-white-06);
  font-size: 2.5em;
  cursor: pointer;
  padding-bottom: 6px;
}

.button-section {
  display: flex;
  width: 60px;
  justify-content: space-around;
  align-items: center;
}

.button-section button {
  color: var(--clr-contrast);
  z-index: 3;
}

.marked-card {
  position: relative;
  transform: translateY(3px);
  font-size: 1.4em;
  color: rgb(192, 47, 47);
}

textarea {
  color: #e2e2e2; /* Text color */
}

textarea::placeholder {
  color: #df1111;
  opacity: 1;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.modal-container.open {
  opacity: 1;
  pointer-events: auto;
  background-color: var(--background-modal);
}
.modal {
  background: var(--clr-primary-trans);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  backdrop-filter: blur(20px);
  border: 1px solid var(--clr-border);
  height: 100%;
  width: 100%;
  max-width: 1600px;
  border-radius: var(--radius);
  padding: 1.1rem 1rem;
  bottom: -130%;
  transform: translateY(100%);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease-out;
  opacity: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.modal-loading {
  z-index: 10;
  top: 0;
  left: 0;
  border: none;
  border-radius: var(--radius);
  backdrop-filter: blur(10px) brightness(60%);
  color: var(--clr-contrast);
  height: 100%;
  width: 100%;
  font-size: 3em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.open {
  transform: translateY(0);
  opacity: 1;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}

.modal h1 {
  color: var(--clr-contrast);
  width: 35%;
  font-size: clamp(1em, calc(1vw + 1em), 2em);
}

.no-image {
  color: var(--clr-contrast);
  background: var(--clr-secondary-contrast);
  height: 3em;
  border-radius: 1em;
}

.images-container {
  height: 250px;
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  border-radius: 0px;
  overflow: hidden;
  overflow-x: scroll;
}

.selected-images {
  border-radius: 0.5em;
  object-fit: cover;
  max-height: 250px;
  /* max-width: 100%; */
  margin: 0 0.2em;
}

.image-cards {
  width: 100%;
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  gap: 0.5em;
  border-radius: 0.5em;
}

.image-inside-card {
  display: block;
  border-radius: 0.5em;
  object-fit: cover;
  height: 100%;
  max-width: 100%;
  background: var(--clr-secondary-contrast);
}

.image-container {
  position: relative;
  flex: 0 0 auto;
  height: 300px;
  max-width: 100%;
}

.image-wrapper {
  position: relative;
  height: 100%;
  display: flex;
}

.single-image-width {
  width: 100%;
  object-position: 50% 50%;
}

.image-delete-button {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  margin: 1em;
  background: var(--clr-secondary);
  backdrop-filter: blur(20px) brightness(50%);
  color: var(--clr-contrast);
  border: solid 1px var(--clr-border);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}
.image-delete-button:hover {
  display: inline-block;
  filter: brightness(120%);
}

.image-delete-button.visible {
  display: inline-block;
}

.modal textarea {
  background: none;
  width: 100%;
  min-height: clamp(200px, auto, 1000px);
  margin: 1em 0;
  color: var(--clr-contrast);
  outline: none;
  border: none;
  font-size: 1.4em;
  resize: none;
  overflow-y: auto;
  flex-grow: 1;
}

.modal .top-section {
  display: flex;
  color: var(--clr-contrast);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
  white-space: nowrap;
}

.top-section button {
  color: var(--clr-contrast);
  background: none;
  border: none;
  display: flex;
  justify-content: end;
  font-weight: 600;
  cursor: pointer;
}

.image-picker-button {
  color: var(--clr-accent);
  filter: brightness(80%);
  transform: translateY(2px);
  margin-left: 3em;
  font-size: 1.6em;
}

.image-picker-button:hover {
  filter: none;
}

.top-section-actions {
  display: flex;
  align-items: center;
  width: 33%;
}
.top-section-actions h1 {
  width: auto;
}

.modal-done-button {
  width: 33%;
  font-size: 1.5em;
}

.drop-down-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 3rem;
  right: 0;
  margin: var(--spacing);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(40px);
  border: 1px solid var(--clr-secondary-contrast);
  list-style: none;
  width: 25em;
  height: 12em;
  border-radius: 0.8em;
  z-index: 3;
  font-size: 0.6em;
  overflow: hidden;
}

.drop-down-menu button {
  background: none;
  border: none;
  font-size: 1.8em;
  height: 100%;
  color: var(--clr-contrast);
  text-align: start;
  padding: 0 0.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drop-menu-hidden {
  display: none;
}

.drop-down-menu > :nth-child(1) {
  border-bottom: solid 0.5px var(--clr-secondary-contrast);
}

.drop-down-menu > :nth-child(2) {
  border-bottom: solid 0.4em var(--clr-secondary-contrast);
}

.drop-down-menu > :nth-child(3) {
  color: rgb(247, 23, 23);
}

.button-section button {
  justify-content: end;
}
.button-section button:hover {
  filter: brightness(200%);
}
.button-section button:active {
  color: var(--clr-contrast);
  filter: blur(0.6px);
}
.drop-down-menu button:hover {
  background: rgba(126, 126, 126, 0.1);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    margin: 0;
  }
  .journal::after {
    display: none;
  }

  .nav-bar {
    /* mask: linear-gradient(0deg, black, rgba(0, 0, 0, 1), transparent); */
    backdrop-filter: blur(8px);
  }
  .journal {
    margin: 0;
    height: 100%;
    border-radius: 0;
    position: relative;
  }
}

.noise {
  background-image: url("/noise.webp");
  background-size: cover;
  filter: opacity(0.5) brightness(2);
}

.dark .noise {
  filter: opacity(0.25) brightness(1) invert();
}

.icon-gb {
  background: var(--clr-primary);
  backdrop-filter: blur(30px);
}
